body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/* entra no container e tudo que tiver a vc estiliza */
.container a {
    display: block;
    margin: 10px 0px;
    /* top, right, bottom, left */
    padding: 10px 20px 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.container a:hover {
    background-color: #0056b3;
}